<!DOCTYPE html>
<html>
<head>
  <style>
    body { 
           margin-left : 30%;
           background-color: ivory; 
         }
    #myname
     {
      margin : 0px 0 -10px 0;
      font-weight: bold;
      font-size: 20px;
      font-family: Arial;
      text-decoration: none;
    }
    #mytitle
    {
      margin : 5px 0 2px 0;
      font-weight: bold;
      font-size: 18px;
      font-family: Serif;
    }
    #mydescription
    {
      margin : 0 0 0 0;
      font-style: italic;
      font-size: 16px;
    } 
    #mycomment
    {
      margin : 4px 0px 0 0;
      font-size: 15px;
    }
    
    #myreplybutton
    {
      margin : -25px 0 5px 0;
    }
    #newcomment
    {
      margin : -5px 0 -15px 0;
    }
    #replies
    {
      margin : 2px 0 2px 0;
      font-size: 13px;
    }
    #myduration
    {
      margin : -20px 0 2px 280px;
      font-weight: bold;
      font-size: 12px;
      font-family: Arial;
    }
    .reply {
      margin: 0px 0 -15px 0;
    }
   
  </style>
</head>
<body>
  <p id = "myname"><a href="/user/<%= Post.userId.username %>"> <%= Post.userId.username %> </a> </p>  <p id= 'myduration'>  <%= Post.duration %> </p>
  <img  src= <%= Post.photoUrl %> width = '350' height = '400' align=”left”/>
  <br>  
  <div>
    <button id="likebutton" onclick="likePost('<%= Post.id %>')"><%= Post.likestatus %></button>

    <% if(Post.like.length == 3 ) { %>
      <% for(i=0; i< Post.like.length ; i++) { %>
        <% if(i<2){ %>
        <%= Post.like[i].username%>,
        <% } else { %>
        <%= Post.like[i].username%>
        <% } %>
      <% } %> liked this.
    <% } %>  

    <% if(Post.like.length == 2 ) { %>
      <% for(i=0; i< Post.like.length ; i++) { %>
        <% if(i<1){ %>
        <%= Post.like[i].username%>,
        <% } else { %>
        <%= Post.like[i].username%>
        <% } %>
      <% } %> liked this.
    <% } %> 

    <% if(Post.like.length == 1 ) { %>
      <% for(i=0; i< Post.like.length ; i++) { %>
        <% if(i<0){ %>
        <%= Post.like[i].username%>,
        <% } else { %>
        <%= Post.like[i].username%>
        <% } %>
      <% } %> liked this.
    <% } %>

  </div>
  <p id = "mytitle"> <%= Post.title%> </p> 
  <p id = "mydescription"> <%= Post.description %> </p>

  <% Post.comment.forEach(function(commentId){ %>
    <div>
      <p id = "mycomment"> <b> <%= commentId.user.username %> => </b> <%= commentId.comment %> </p> 
      <% commentId.reply.forEach(function(replyId){  %>
        <p id = 'replies' > <i><b> <%= replyId.user.username %> : </b><i> <%= replyId.reply %> </p>
      <% }); %>
          
     <p> <textarea name="reply" placeholder="" rows = "1" cols = "20" class="reply" id ="myreply_<%= commentId._id%>"></textarea> </p>
      <button onclick="replyPost('<%= Post._id %>','<%= commentId._id %>')" id = "myreplybutton" > Reply </button>
    </div>
  <% }); %>

  <div>
    <p>
    <textarea name="comment" placeholder="" rows = "3" cols = "20" id = "newcomment"></textarea> 
    </p>
    <p>
    <button onclick="commentPost('<%= Post.id %>')" id='commentbutton'>  comment </button>
    </p>
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascript/ajax.js"></script>


</html>
