<!DOCTYPE html>
<html>
<head>
  <style>
    body { 
           margin-left : 30%;
           background-color: ivory; 
         }
    #myname
     {
      margin : 0px 0 -10px 0;
      font-weight: bold;
      font-size: 20px;
      font-family: Arial;
      text-decoration: none;
    }
    #mytitle
    {
      margin : 5px 0 2px 0;
      font-weight: bold;
      font-size: 18px;
      font-family: Serif;
    }
    #mydescription
    {
      margin : 0 0 0 0;
      font-style: italic;
      font-size: 16px;
    } 
    #mycomment
    {
      margin : 4px 0px 0 0;
      font-size: 15px;
    }
    
    #myreplybutton
    {
      margin : -25px 0 5px 0;
    }
    #newcomment
    {
      margin : -5px 0 -15px 0;
    }
    #replies
    {
      margin : 2px 0 2px 0;
      font-size: 13px;
    }
    #myduration
    {
      margin : -20px 0 2px 280px;
      font-weight: bold;
      font-size: 12px;
      font-family: Arial;
    }
    .reply {
      margin: 0 0 -15px 0;
    }
   
  </style>
</head>
<body>
  <p id = "myname"><a href="/post/user/<%=specificPost.userId.username %>"> <%= specificPost.userId.username %> </a> </p>  <p id= 'myduration'>  <%= specificPost.duration %> </p>
  <img  src= <%= specificPost.photoUrl %> width = '350' height = '400' align=”left”>
  <br>  
  <div>
    <button id="likebutton" onclick="likePost('<%= specificPost.id %>')"><%= specificPost.likestatus %></button>
  </div>
  <p id = "mytitle"> <%= specificPost.title%> </p> 
  <p id = "mydescription"> <%= specificPost.description %> </p>

  <% specificPost.comment.forEach(function(commentId){ %>
    <div>
      <p id = "mycomment"> <b> <%= commentId.user.username %> => </b> <%= commentId.comment %> </p> 
      <% commentId.reply.forEach(function(replyId){  %>
        <p id = 'replies' > <i><b> <%= replyId.user.username %> : </b><i> <%= replyId.reply %> </p>
      <% }); %>
          
      <textarea name="reply" placeholder="" rows = "1" cols = "20" class="reply" id = "myreply_<%= commentId._id%>"></textarea> </p>
      <button onclick="replyPost('<%= specificPost._id %>','<%= commentId._id %>')" id = "myreplybutton" > Reply </button>
    </div>
  <% }); %>

  <div>
    <p>
    <textarea name="comment" placeholder="" rows = "3" cols = "20" id = "newcomment"></textarea> 
    </p>
    <p>
    <button onclick="commentPost('<%= specificPost.id %>')" id='commentbutton'>  comment </button>
    </p>
  </div>
</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

function likePost(id) {
  var elem = document.getElementById("likebutton"); 
  $.ajax({
    type: 'POST',
    url: `/post/${id}/like`,
    success: function(result) {
      alert(result.action);
      if(elem.innerHTML == "Like") {
        elem.innerHTML = "Liked";
      } else {
        elem.innerHTML = "Like";
      }
    }
  });
};


function commentPost(id) {  
  var comment = document.getElementById("newcomment").value;
  $.ajax({
    type: 'POST',
    url: `/post/${id}/comment`,
    data : {
      'ajaxComment' : comment
    },
    success: function(result){
      window.location = '/post/' + id;
    }
  })
};


function replyPost(postId, commentId) {  
  var reply = document.getElementById(`myreply_${commentId}`).value;
  $.ajax({
    type: 'POST',
    url: `/post/${postId}/comment/${commentId}/reply`,
    data : {
      'ajaxReply' : reply
    },
    success: function(result){
      window.location = '/post/' + postId;
    }
  })
};



</script>
</html>
